@{
    ViewBag.Title = "About";
}
@*Front Details*@
<div class="banner background1">
    <div class="container">
        <div class="banner text-center">
            <h1 class="text-white text-center">
                <a href="index.html">Home</a> / About Us
            </h1>
        </div>
    </div>
</div>


@*AboutUs details*@
<div class="features">
    <div class="container py-xl-5 py-lg-3">
        <div class="text-center mb-lg-5 mb-4">
            <h3 class="tittle mb-2 text-success"><strong>About Us</strong></h3>
            <p>Some words about our property</p>
        </div>
        <div class="row features-row">
            <div class="col-lg-5 features-right mt-3">
                <img src="~/Content/images/Handshakebg.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-7 features-left mt-5">
                <div class="row features-grid">
                    <div class="col-3 features-grid-left text-right">
                        <i class="fab fa-3x fa-blackberry"></i>
                    </div>
                    <div class="col-9 features-grid-right">
                        <h4 class="mb-2">What We Do! </h4>
                        <p>We are passionate designers, managers, and maintainers of the best multifamily communities in the country. The FIND HOME Family is on a mission to exceed market expectations and help you find the best place to call home.</p>
                    </div>
                </div>
                <div class="row features-grid features-grid-mdl my-4">
                    <div class="col-3 features-grid-left text-right">
                        <i class="fab fa-3x fa-d-and-d"></i>
                    </div>
                    <div class="col-9 features-grid-right">
                        <h4 class="mb-2">Providing Living Excellence District to District</h4>
                        <p>
                            165+
                            communities owned and operated
                            59,000+
                            apartment homes across the BD
                        </p>
                    </div>
                </div>
                <div class="row features-grid">
                    <div class="col-3 features-grid-left text-right">
                        <i class="fab fa-3x fa-mixcloud"></i>
                    </div>
                    <div class="col-9 features-grid-right">
                        <h4 class="mb-2">
                            Working Together
                            We Achieve More
                        </h4>
                        <p>At FIND HOME we strive to provide flexible and affordable houses and apartments for all kind of people.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Pricing Details*@
<section class="pricing py-5" id="pricings">
    <div class="container py-xl-5 py-lg-3">

        <div class="text-center mb-lg-5 mb-4">
            <h1 class="tittle mb-2 text-danger"><strong>Our Pricings</strong></h1>
            <p class="test-title-paara text-white">A few word about our Planes</p>
        </div>

        <div class="inner-sec">
            <div class="card-deck text-center row mt-5">
                <div class="price-info-grid col-lg-4">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>House</h4>
                        </div>
                        <div class="card bg-light mb-4 col-md-9" style="max-width: 20rem;">
                            <div class="card-header">Starting From Only 10,000 TK</div>
                            <div class="card-body">
                                <h4 class="card-title">Take The Best House Near You. Start With Us!</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price-info-grid col-lg-4 my-lg-0 my-6">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Apartment</h4>
                        </div>
                        <div class="card border-primary mb-4 col-md-9" " style="max-width: 20rem;">
                            <div class="card-header">Starting From Only 100,000 TK</div>
                            <div class="card-body">
                                <h4 class="card-title">Best Apartment in Dhaka City. Start With Us!</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price-info-grid col-lg-4">
                    <div class="price-inner">
                        <div class="price-header">
                            <h4>Enterprise</h4>
                        </div>
                        <div class="card border-primary mb-4 col-md-9" " style="max-width: 20rem;">
                            <div class="card-header">Starting From Only 1,000,000 TK</div>
                            <div class="card-body">
                                <h4 class="card-title">Starting Your Business? Start With Us!</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*team*@
<div class="team py-5" id="agents">
    <div class="container">
        <div class="text-center ">
            <h3 class="tittle mb-2 text-danger"><strong>Our Agents</strong></h3>
            <p>Some words about our Agents</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">

                    <div class="card mt-2" style="width: 23rem;">
                        <img class="card-img-top" src="~/Content/images/ashiq1.jpg" height="280"  alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ashiqur Rahman</h5>
                            <p class="card-text">One of the Best agent in our company,have sold more than 300+ properties for his customers.</p>
                            <a href="https://www.facebook.com/ashiq4998" class="btn btn-primary">Contact</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">

                    <div class="card mt-2" style="width: 23rem;">
                        <img class="card-img-top" src="~/Content/images/hasib1.jpg" height="280"  alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Abdullah Al Hasib</h5>
                            <p class="card-text">The magician of our company.Maintaining 5* reviews for more than 3 years.</p>
                            <a href="https://www.facebook.com/aahasib.aust" class="btn btn-primary">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">

                    <div class="card mt-2" style="width: 23rem;">
                        <img class="card-img-top" src="~/Content/images/sourov1.jpg" height="280"  alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">MBM Sourov</h5>
                            <p class="card-text">If you want to sell any shops enterprice then you got the best man for this job.</p>
                            <a href="https://www.facebook.com/sourov.khan.69/" class="btn btn-primary">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-top py-5 text-center">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="text-white mb-4">Select Your Dream Property</h2>
        <h5 class="text-white mb-sm-5 mb-4 pb-sm-5 pb-4">Contact Us</h5>
        <a href="https://goo.gl/maps/bEs56kKnd4hTLX379">
            <img src="~/Content/images/location.png" onclick="" width="60" height="85" />
        </a>
    </div>
</div>

<!-- footer -->
<div class="footer py-5 text-center">
    <div class="container py-xl-5 py-lg-3">
        <div class="address row mb-4">
            <div class="col-lg-4 address-grid">
                <div class="row address-info">
                    <div class="col-md-3 address-left text-center">
                        <i class="far fa-3x fa-envelope"></i>
                    </div>
                    <div class="col-md-9 address-right text-left">
                        <h6 class="ad-info text-uppercase mb-2">Email</h6>
                        <p>
                            <a href="180104037@aust.edu"> 180104037@aust.edu</a>
                        </p>
                        <p>
                            <a href="180104046@aust.edu"> 180104046@aust.edu</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 address-grid my-lg-0 my-4">
                <div class="row address-info">
                    <div class="col-md-3 address-left text-center">
                        <i class="fas fa-3x fa-mobile-alt"></i>
                    </div>
                    <div class="col-md-9 address-right text-left">
                        <h6 class="ad-info text-uppercase mb-2">call us</h6>
                        <p>+880-1874628178</p>
                        <p>+880-1935212763</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 address-grid">
                <div class="row address-info">
                    <div class="col-md-3 address-left text-center">
                        <i class="far fa-3x fa-map"></i>
                    </div>
                    <div class="col-md-9 address-right text-left">
                        <h6 class="ad-info text-uppercase mb-2">Address</h6>
                        <p> 141 & 142, Love Rd, ঢাকা 1208</p>
                        <p> Dhaka, Bangladesh</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- social icons footer -->
        <!-- //social icons footer -->
    </div>
</div>