@{
    ViewBag.Title = "Contact";
}

@*Front Details*@
<div class="banner background1">
    <div class="container">
        <div class="banner text-center">
            <h1 class="text-white text-center">
                <a href="index.html">Home</a> / Contact Us
            </h1>
        </div>
    </div>
</div>

@*About Us*@
<section class="wthree-row py-5">
    <div class="container">
        <div class="text-center mb-4">
            <h3 class="tittle mb-2 text-success"><strong>Contact Us</strong></h3>
            <p>Quick Send Us Message</p>
        </div>
        <div class="row contact-form">
            <!-- contact map -->
            <div class="col-lg-6 map text-center">
                <h4>Our world wide range of Branches </h4>
                <img src="~/Content/images/BDimg1.jpg" alt="" class="img-fluid" />
            </div>
            <!-- //contact map -->
            <!-- contact form -->
            <div class="col-lg-6 mt-5">
                <div class="contact-top1">
                    <form action="#" method="get" class="f-color">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="contact-formw3ls form-control" name="text" id="contactusername" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="contact-formw3ls form-control" name="email" id="contactemail" required>
                        </div>
                        <div class="form-group">
                            <label>Your Message</label>
                            <textarea class="contact-formw3ls form-control" rows="5" id="contactcomment" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </form>
                </div>
            </div>
            <!-- //contact form -->
        </div>
    </div>
</section>

@*Location Details*@
<div class="footer-top py-5 text-center">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="text-white mb-4">Select Your Dream Property</h2>
        <h5 class="text-white mb-sm-5 mb-4 pb-sm-5 pb-4">Contact Us</h5>
        <a href="https://goo.gl/maps/bEs56kKnd4hTLX379">
            <img src="~/Content/images/location.png" onclick="" width="60" height="85" />
        </a>
    </div>
</div>

@*Contact Details*@
<div class="footer py-5 text-center">
    <div class="container py-xl-5 py-lg-3">
        <div class="address row mb-4">
            <div class="col-lg-4 address-grid">
                <div class="row address-info">
                    <div class="col-md-3 address-left text-center">
                        <i class="far fa-3x fa-envelope"></i>
                    </div>
                    <div class="col-md-9 address-right text-left">
                        <h6 class="ad-info text-uppercase mb-2">Email</h6>
                        <p>
                            <a href="180104037@aust.edu"> 180104037@aust.edu</a>
                        </p>
                        <p>
                            <a href="180104046@aust.edu"> 180104046@aust.edu</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 address-grid my-lg-0 my-4">
                <div class="row address-info">
                    <div class="col-md-3 address-left text-center">
                        <i class="fas fa-3x fa-mobile-alt"></i>
                    </div>
                    <div class="col-md-9 address-right text-left">
                        <h6 class="ad-info text-uppercase mb-2">call us</h6>
                        <p>+880-1874628178</p>
                        <p>+880-1935212763</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 address-grid">
                <div class="row address-info">
                    <div class="col-md-3 address-left text-center">
                        <i class="far fa-3x fa-map"></i>
                    </div>
                    <div class="col-md-9 address-right text-left">
                        <h6 class="ad-info text-uppercase mb-2">Address</h6>
                        <p> 141 & 142, Love Rd, ঢাকা 1208</p>
                        <p> Dhaka, Bangladesh</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- social icons footer -->
        <!-- //social icons footer -->
    </div>
</div>